.main-content {
    grid-area: m;
    background-color: rgb(255, 203, 203);
    color: rgb(255, 0, 0);
    padding:2em;
}

.title {
    text-align:center;
    font-size: 1.5em;
    font-weight: 800;
    background-color: rgb(255, 228, 206);
}