.App {
  display:grid;
  height: 100%;
  width:100%;
  grid-template-columns: minmax(0px,1fr) minmax(500px,1250px) minmax(0px,1fr);
  grid-template-rows: 60px auto 50px;
  grid-template-areas: 
  'h h h'
  'sb m fl'
  'f f f';
  grid-gap:1px;
  justify-content: center;
  margin : 0px;
}

.filler {
  grid-area: fl;
  background-color: white;
}



.side-bar {
  grid-area: sb;
  background-color: white;
}

.footer {
  grid-area: f;
  background-color: blue;
}